name: Rimba_Run
description: Permainan Peribahasa 2D.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flame: ^1.16.0
  google_fonts: ^6.3.3
  http: ^1.1.0
  csv: ^6.0.0
  flame_audio: ^2.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/audio/